<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul id="messages"></ul>
        <ul id="users"></ul>
    </div>
    
    <form id="form2" action="">
        <input id="inputnick" autocomplete="off" /><button>Salvar Nick</button>
    </form>
    
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/js/script.js" type="module"></script>
</body>
</html>